<div class="container">
    <h1>A bas le Capitalisme</h1>
  <div class="alert alert-light p-2 m-1 mb-3 border-start border-4 border-0" role="alert">
    <%= @question %>
    <p class = "m-1">- You</p>
  </div>
  <div class="alert alert-warning p-2 m-1 mb-3 border-start border-4 border-0" role="alert">
    <%= @answer %>
    <p class = "m-1">- Your coach</p>
  </div>
    <%= link_to "Ask a new question!", ask_path %>

</div>
